
$primary-color: #3498db;

$footerBgColor: #008080;
$footerTextColor: #ffffff;
$widhConainers: 1020px;

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-decoration: none;
  
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
  
      img {
        width: 33.33%;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #134e4a, #5eead4);
            z-index: 1;
          }
      }
    }
}

.footer {
    &-background {
        width: 150%;
        margin-left: -25%;
        height: 800px;
        background-color: #ffffff;
        position: relative;
        border-radius: 0 0 70% 70%/0 0 70% 70%;
        z-index: -1;
        transform: translateY(-300px);
    }

    &-text {
        position: absolute;
        text-align: center;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
    }

    &-blocks {
        // mx-auto px-4 flex justify-between
        position: relative;
        bottom: 250px;

        .left-block {

            div:nth-child(1) {
                margin-bottom: 20px;
                font-weight: 900;

            }

        }

        .center-block {
            min-width: 200px;
            transform: translateX(-180px);


            div {
                font-weight: 700;
                margin-left: 15px;
            }

            li {
                line-height: 30px;
            }

        }

        .right-block {

            text-align: right;

            div:not(:first-child) {
                line-height: 30px;
            }

            div:nth-child(1) {
                font-weight: 700;
                margin-bottom: 20px;
            }

        }
    }

    &-links {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: space-between;
            padding: 1rem 0;

            li {
                a {
                    &.no-underline {
                        text-decoration: none;
                    }

                    &.p-4 {
                        padding: 1rem;
                    }
                }
            }
        }
    }

}

.container-footer {
    background: #134e4a;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    transform: translateY(-300px);
    

    @media (max-width: 768px) {
        height: auto;
    }
}

.content-section {

  display: flex;
  justify-content:center;
  width:$widhConainers;
  flex-direction: column;
  position: relative;

  & h1 {
    color: #134e4a;
    font-size: 40px;
  }


}