$primary-color: #3498db;

$footerBgColor: #008080;
$primaryLightColor: #17cfc2;
$footerTextColor: #ffffff;
$widhConainers: 1250px;

.color-primary-light{
    color: $primaryLightColor;
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-decoration: none;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            width: 33.33%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right, #134e4a, #5eead4);
                z-index: 1;
            }
        }
    }
}

.footer {
    &-background {
        width: 150%;
        margin-left: -25%;
        height: 800px;
        background-color: #ffffff;
        position: relative;
        border-radius: 0 0 70% 70%/0 0 70% 70%;
        z-index: -1;
        transform: translateY(-300px);
    }

    &-text {
        position: absolute;
        text-align: center;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
    }

    &-blocks {
        // mx-auto px-4 flex justify-between
        position: relative;
        bottom: 250px;

        .left-block {

            div:nth-child(1) {
                margin-bottom: 20px;
                font-weight: 900;

            }

        }

        .center-block {
            min-width: 200px;
            transform: translateX(-180px);


            div {
                font-weight: 700;
                margin-left: 15px;
            }

            li {
                line-height: 30px;
            }

        }

        .right-block {

            text-align: right;

            div:not(:first-child) {
                line-height: 30px;
            }

            div:nth-child(1) {
                font-weight: 700;
                margin-bottom: 20px;
            }

        }
    }

    &-links {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: space-between;
            padding: 1rem 0;

            li {
                a {
                    &.no-underline {
                        text-decoration: none;
                    }

                    &.p-4 {
                        padding: 1rem;
                    }
                }
            }
        }
    }

}

.container-footer {
    background: #134e4a;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    transform: translateY(-300px);


    @media (max-width: 768px) {
        height: auto;
    }
}
#services div.service_icon img{
    width: 200px;
}

.content-section {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: $widhConainers;
    flex-direction: column;
    position: relative;
    height: auto;

    font-weight: 100;

    & h1 {
        margin-bottom: 20px;
        line-height: 1;
        color: #044b46;
        font-size: 45px;
    

        & strong.s2-uppercase {
            text-transform: uppercase;
            color: #134e4a;
            font-size: 45px;
            font-weight: bold;
        }
        & strong.s2 {
    
            color: #134e4a;
            font-size: 45px;
            font-weight:900;
        }
        & span {
            font-size: 45px;
        }


    }
    & h2 {
text-align: center;
font-size: 40px;   margin: 50px;
& span {

    color: #17cfc2;
    font-size: 40px;
    font-weight: 400;
 
}
    }
    
        




}
@media (max-width: 900px) {
    .content-section{
    width: 100%;
    min-width: auto;
    flex-direction: column !important;
    .benefist{ width: 100%  ;
    flex-direction:row-reverse !important; text-align: left;}
}}
#benefits { & .benefist {
    width: 62%;  font-weight: 300;
    line-height: 30px;
    & img {width: 200px !important; 
        display: flex;
     
    max-width:none;}
    & h3 {   color: $footerBgColor;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 400;
    }
  
    & p {
        font-weight: 300;
        width:max-content;
        font-weight: 400;
     
        color: #3b3b3b;
        width:auto;
    }

}
& h2 {   
    margin-bottom: 10px;
    font-size: 50px ; 
    font-weight:lighter;
    margin-bottom: 40px;
}       
}




.r-arrow{
    width: 24px;
    height: 24px;
    display: inline-block;
}

.content-image img{width: 700px;      max-width: none;
   }

.form{
   .text-form{width: 95%;
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: normal !important}
    
  
}

#form-contact h3 {
    text-align: center;
    font-size: 25px;   margin: 50px;
    & span {
    
        color: #17cfc2;

        font-weight: 400;
     
    }
        }
#answers{

 & h3{text-align: center;   margin-bottom: 30px;
    line-height: 1;

    color: #0d8b83;
    font-size: 40px;}

 & .button {position:relative; bottom: 0; margin: auto;}
}

.job-content {
    width: 575px;
    font-size: 15px;
    color: rgb(60, 60, 60);
    font-weight: 400 !important;
    z-index: 1;
    line-height:25px    ;
    margin: 20px 25px;
    & h3 {font-size: 25px; color: $footerBgColor;  margin-bottom: 10px;}
   & img {width: 20px; margin:0 10px;}

    }
    .square-circle {
        top:0%;
        transform:  translate(0%, 0%) scale(1)rotate(90deg);;
        
        width: 25px;
        transition: transform 0.5s ease-in-out;
        height: 25px;
        background: linear-gradient(to bottom, #004d40, #81c784);
      }
    
      .square-circle::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%    ;
        background: #285c5c;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1);
        
        transition: transform 1s ease-in-out, opacity 1s ease;
        opacity: 0;
   
      }
      
      /* Увеличиваем z-index, чтобы ::before был над основным квадратом */
      .animation:hover .square-circle{
        transform: translate(-50%, 100%) scale(2) rotate(90deg);
        z-index: 2;
      }
      .animation:hover  .square-circle::before {
        opacity: 1;    
    }