$color1: #eafffd;
$color2: #86C0BB;
$color5: #eafffd;
$color6: #4DA59B;
$color7: #D3E5EB;   
$color8:#C73926;
$color9: #3a857e;

$divideColor: #6AE5CE;
$colorarrow: #73C9BD;
$primaryBlueColor: #3498db;
$primaryDarkColor: #285c5c;
$primaryMediumColor: #4DA59B;
$primaryMediumColor2: #73C9BD;
$primaryLightColor: #86C0BB;
$primaryDoubleLightColor: #CBF0E9;    //Color maps
$iconColorStartupSecion3: #C4F4EC;
$white: #eafffd;
$colorActiveStep: #fce205;
$widhConainers: 1440px;
$weight-text: 400px;


.color-primary-light {
	color: $primaryLightColor;
}
.color-primary-medium {
	color: $primaryMediumColor;
}
.color-primary-dark {
	color: $primaryDarkColor;
}

.bg-color-primary-light {
	background-color: $white;
}

.bg-color-primary-light-light {
	background: $primaryDoubleLightColor;
}

.bg-icon-color-startup-secion3 {
	background-color: $iconColorStartupSecion3;
}

.bg-color-primary-medium {
	background-color: $primaryMediumColor;
}

.bg-color-primary-dark {
	background-color: $primaryDarkColor;
}

.bg-color-primary-medium2 {
	background-color: $primaryMediumColor2;
}

.border-medium2 {
	border: 2px solid $primaryMediumColor2;
}

.bg-primary-light-light {
	background: $primaryDoubleLightColor;
}

#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	position: sticky;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	text-decoration: none;

	a {
		display: flex;
		align-items: center;
		text-decoration: none;

		img {
			width: 50%;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to right, #134e4a, #5eead4);
				z-index: 1;
			}
		}
	}
}



.footer {


	&-background {
		height: 160px;
		background-color: #ffffff;
		position: relative;
		z-index: -1;
	}

	&-text {
		position: absolute;
		text-align: center;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 500;
	}

	&-blocks {
		position: relative;
		bottom: 150px;

		.left-block {
			div:nth-child(1) {
				margin-bottom: 20px;
				font-weight: 900;
			}
		}

		.center-block {
			min-width: 200px;
			transform: translateX(-180px);

			div {
				font-weight: 700;
				margin-left: 15px;
			}

			li {
				line-height: 30px;
			}
		}

		.right-block {
			text-align: right;

			div:not(:first-child) {
				line-height: 30px;
			}

			div:nth-child(1) {
				font-weight: 700;
				margin-bottom: 20px;
			}
		}
	}

	&-links {
		ul {
			list-style: none;
			margin: 0;
			display: flex;
			flex-direction: column;
			width: 50%;
			justify-content: space-between;
			padding: 1rem 0;

			li {
				a {
					&.no-underline {
						text-decoration: none;
					}

					&.p-4 {
						padding: 1rem;
					}
				}
			}
		}
	}
}

.container-footer {
	background: $primaryDarkColor;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	transform: translateY(-300px);

	@media (max-width: 768px) {
		height: auto;
	}
}

#services div.service_icon img {
	width: 200px;
}



.before\:-top-calc::before {
	position: absolute;
	top: calc(-5vw - 40px);  
  }
  

@media (max-width: 900px) {
	.content-section {
		width: 100%;
		min-width: auto;
		flex-direction: column !important;

		.benefist {
			width: 100%;
			flex-direction: row-reverse !important;
			text-align: left;
		}
	}
}

.benefist {
	width: 63%;

	& img {
		width: 100% !important;
		display: flex;

		max-width: none;
	}

	& h3 {
		color: $primaryLightColor;
		font-size: 30px;
		font-weight: 400;
	}


	& p {


            width: max-content;
            font-weight: $weight-text;
            color: #3b3b3b;
        }




	& h2 {

		font-size: 50px;
		font-weight: lighter;
		margin-bottom: 40px;
	}


	.r-arrow {
		width: 24px;
		height: 24px;
		display: inline-block;
	}


}

.form {
	.text-form {
		width: 95%;
		height: 35px;
		margin-bottom: 20px;
		border: 1px solid #dedede;
		padding: 5px 10px;
		font-size: 13px;
		font-weight: normal !important;
	}
}

#form-contact h3 {
	text-align: center;
	font-size: 25px;
	margin: 50px;

	& span {
		color: #17cfc2;
		font-weight: $weight-text;
	}
}

.startup-icon {
	flex-direction: column;
	transition: 0.5s;
}

.startup-icon:hover {
	transform: scale(1.15);
    transition: 0.5s;
}

.before\:-mt-curved-startup::before {
	margin-top: -88rem;
}

.before\:-mt-curved-startup-plane::before {
	margin-top: -79rem;
}

.before\:-mt-240::before {
	top: 0;
	margin-top: -13rem;
}

.after\:pb-64::after {
	padding-bottom: 64rem;
}

@media (min-width: 2200px) {
	.custom-3xl {
		padding-right: 24rem;
		padding-left: 24rem;
	}

	.custom-pb-60 {
		padding-bottom: 10rem;
	}

	.before\:-mt-240::before {
		top: 0;
		margin-top: -15rem;
	}

	.before\:-mt-curved-startup::before {
		margin-top: -88rem;
	}

	.before\:-mt-curved-startup-plane::before {
		margin-top: -74rem;
	}

	.after\:pb-64::after {
		padding-bottom: 64rem;
	}
}

.s-b-s-title {
	border: 2px solid $primaryDarkColor;
	padding: 2px;
	width: fit-content;

	& .text {
		padding: 0 15px;
		line-height: 35px;
	}

}

li .s-b-s-text {
	border-left: 3px solid transparent;
	padding-top: 20px;
	margin-left: 21px;
	margin-top: -10px;
}

li:not(:last-child) .s-b-s-text {
	border-left: .4em solid $primaryLightColor;
	position: relative;
	z-index: 1;
	margin-bottom: -10px;
	transition: border-left 0.5s ease-in-out;
}

li:not(:last-child).highlight .s-b-s-text {
	border-left: 0.4em solid $colorActiveStep;
}

.kolo {
	position: relative;
	display: flex;
	width: 1.5em;
	height: 1.5em;
	background: $primaryLightColor;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	font-size: 27px;
	font-weight: 400;
	color: $primaryDarkColor;
	z-index: 2;
	transition: background 0.5s ease-in-out;
}

.kolo.highlight {
	background: $colorActiveStep;
}







.current-map path,
// .svg-map #EU,
// .svg-map #AI,
// .svg-map #AF,
// .svg-map #OC,
// .svg-map #NA,
// .svg-map #SA
.svg-map
{
    fill: #CBF0E9;
}
.svg-map #UK,
.svg-map #CH,
.svg-map #UA,
.svg-map #TN
{
	opacity: 0.6;
}
// .svg-map.svg-map #EU:hover,
// .svg-map.svg-map #AI:hover,
// .svg-map.svg-map #OC:hover,
// .svg-map.svg-map #NA:hover,
// .svg-map.svg-map #SA:hover,
.svg-map.svg-map #AF:hover
{
    fill: $primaryDarkColor;
}

.job-content {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(236, 236, 236);
    font-size: 15px;
    color: rgb(60, 60, 60);
    font-weight: 400 !important;
    z-index: 0;
    line-height: 25px;
    transition: border-color 1s ease-out;

    & h3 {
        font-size: 25px;
        color: $primaryDarkColor;
        margin-bottom: 10px;
    }

    & img {
        width: 20px;
		height: 20px;
        margin: 0 3px;
    }

}

.square-circle {
	top: 0%;

	width: 25px;
	transition: transform 0.5s ease-in-out;
	height: 25px;



}

.square-circle::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background: #285c5c;
	border-radius: 50%;


	transform: translate(-50%, -50%) scale(1);

	transition: transform 1s ease-in-out, opacity 1s ease;
	opacity: 0;


}

.job-content:hover {
	border-color: $primaryDarkColor;
}

#jobs {
	& .square-circle {
		width: 25px;
		height: 25px;
		transition: transform 0.5s ease-in-out;
	}

	& .on {
		color: $primaryLightColor;
		background: $primaryDarkColor;
		font-weight: 400;
	}

	& .off {
		color: rgb(62, 62, 62);
	}

	& h2 {
		text-align: center;

		margin: 60px;
		line-height: 1;

		font-size: 25px;

		& span {
			color: $primaryLightColor;
			font-weight: 500;
			font-size: 25px;
		}
	}

	& .button {
		position: relative;
		bottom: 0;
		margin: auto;

	}


	& .active {
		border-color: gray;
	}
}

.filter-container {
	top: 50px;

	height: max-content;
	border: 1px solid #e2e8f0;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 0.75rem;
	display: flex;
	flex-direction: column;
	z-index: 1;

	box-shadow: -10px 10px 0px $primaryDarkColor;

	& h3 {
		color: $primaryDarkColor;
		font-weight: 500;
	}

	& .input {
		position: relative;
		border: 1px solid #dfdcfe !important;
		padding: 0 0px;
		border-radius: 7px;
		display: flex;
		align-items: center;


	}

	& .arrow::after {

		position: absolute;
		width: 40px;
		content: "";
		height: 100%;
		background-image: url(/img/arrow.svg);
		background-size: 10px;
		background-repeat: no-repeat;

		background-position: center;
		right: 0;
		top: 0;

	}
}

.my-multiple-select .list,
.my-single-select .list {
	display: none;
}

.my-multiple-select .my-multiple-select-container,
.my-single-select .my-single-select-container {
	padding: 0 5px;
}

.my-multiple-select.active .list,
.my-single-select.active .list {
	display: block;
}

.my-multiple-select #focused_input:focus,
.my-single-select #focused_input:focus {
	background-color: $primaryMediumColor;
}

.my-multiple-select .active-item,
.my-single-select .active-item {
	background: #17cfc2;
	color: white;
}

.my-multiple-select .active-item-container,
.my-single-select .active-item-container {
	background-color: transparent;
	margin: 5px 5px 0 0;
	border: 1px solid grey;
	border-radius: 4px;
	padding: 1px;
	width: max-content;
}

.my-multiple-select .active-item-container button,
.my-single-select .active-item-container button {
	border-right: 1px solid grey;
	margin-right: 2px;
}

.my-multiple-select .active-item-container button span,
.my-single-select .active-item-container button span {
	padding: 2px;
}

.my-multiple-select .active-item-container .item-title,
.my-single-select .active-item-container .item-title {
	padding: 0 8px;
}

.blank {
	box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px, rgb(116 116 116 / 12%) 0px 2px 6px, rgba(76, 81, 191, 0.18) 0px 10px 20px;
	transition: background-color 0.5s ease-in-out;


	& svg {
		transform: scale(1) rotate(-90deg);
		transition: transform 0.5s ease-in-out;
		color: $primaryDarkColor;
	}
}

.blank:hover {
	background-color: rgb(242, 242, 253);
}

.blank:hover svg {
	transform: scale(1.5) rotate(-90deg);
}



.content-image {


	&img {
		width: 100%;
		max-width: none;
	}
}


#team {
	& h1 {color:$color6;}
	& .s2 {
		
		color:$color7;
		font-weight: 700;
	}
}


